@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Volunteer System</h1>
</div>


<div class="row">
   
       

            <h2>Welcome to Volunteer System</h2>
            <p>
                Volunteer to Drive and help feed our senior citizen.
            </p>
            <p>
                Volunteer at Eloise Cooking Pot Food Bank and help serve our clients.
            </p>

            <p>
                Plant new crops to give fresh fruits and vegetables for a family.
            </p>
            <p>
                Put together a joy box and bring a smile to someone’s day.
            </p>

      
    
</div>

 